Flask==2.2.5
flask_cors==3.0.10
gunicorn==20.1.0
redis==4.6.0
rq==1.15.1
ImageGoNord==1.2.0
torch==1.13.1
torchvision==0.14.1
numpy<2.0.0
requests
Pillow==9.5.0
scikit-image==0.19.3
typing-extensions
protobuf<=3.20.3